.headerSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 2rem;
    padding-right: 2rem;
}

.title{
    grid-column: 1/3;
}

.navButtons{
    grid-column: 3/4;
    margin: auto;
}