body{
  background-image: linear-gradient(180deg, #25110b, #c32a2a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(2,3fr);
  grid-template-rows: auto;
}

.headerSection{
  grid-column: 1/3;
}

.searchAreaContainer{
  grid-column: 1/3;
}

.searchResultsListContainer{
  grid-column: 1/2;
}

.nominationsListContainer{
  grid-column: 2/3;
}
