body{
  background-image: linear-gradient(180deg,#c32a2a, #25110b);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(2,3fr);
  grid-template-rows: auto;
}

.headerSection{
  grid-column: 1/3;
}
